apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: mysql-db
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://charts.bitnami.com/bitnami
    targetRevision: 9.14.1
    chart: mysql
    helm:
      values: |
        auth:
          rootPassword: kubequest
          database: kubequest
        architecture: standalone
        primary:
          persistence:
            enabled: true
            existingClaim: mysql-data-claim
          tolerations:
            - key: node-role.kubernetes.io/control-plane
              operator: Exists
              effect: NoSchedule
          resources:
            limits:
              memory: 1Gi
              cpu: 1
            requests:
              memory: 512Mi
              cpu: 500m
          startupProbe:
            enabled: true
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 18
  destination:
    server: https://kubernetes.default.svc
    namespace: database
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true 