- name: "Load .env file"
  hosts: "all"
  tasks:
    - name: Load .env into list of lines
      set_fact:
        env_vars: "{{ lookup('file', '.env').splitlines() }}"
    - name: Convert lines to dict
      set_fact:
        parsed_env: "{{ parsed_env | default({}) | combine({ item.split('=')[0]: item.split('=')[1] }) }}"
      loop: "{{ env_vars }}"
      when: item and '=' in item

- name: Base setup
  hosts: all
  roles:
    - setup

- name: Install docker
  hosts: all
  roles:
    - docker

- name: Install kubeadm
  hosts: all
  roles:
    - kubeadm

- name: Setup master
  hosts: vm-kub-master
  roles:
    - master

- name: Setup nodes
  hosts: vm-kub-worker
  roles:
    - node
- name: Wait for core pods to be up
  hosts: vm-kub-master
  roles:
    - wait-core
- name: Install helm
  hosts: vm-kub-master
  roles:
    - helm

- name: Setup nginx
  hosts: vm-kub-master
  roles:
    - nginx
- name: Setup argocd
  hosts: vm-kub-master
  roles:
    - argocd
- name: Setup vault
  hosts: vm-kub-master
  roles:
    - vault-secret
