- name: Préparer le dossier /mnt/data sur le nœud MySQL
  become: true
  ansible.builtin.file:
    path: /mnt/data
    state: directory
    owner: 1001
    group: 1001
    mode: '0755'

- name: Create ArgoCD Namespace
  shell: |
    kubectl create namespace argocd --dry-run=client -o yaml | kubectl apply -f -

- name: Download ArgoCD manifest
  get_url:
    url: "https://raw.githubusercontent.com/argoproj/argo-cd/stable/manifests/install.yaml"
    dest: "/tmp/argocd-install.yaml"
    mode: "0644"

- name: Apply ArgoCD manifest
  shell: |
    kubectl apply -f /tmp/argocd-install.yaml -n argocd

- name: Copy ingress
  copy:
    src: argocd-ingress.yml
    dest: /tmp/argocd-ingress.yml
    owner: root # Change owner if needed
    group: root # Change group if needed
    mode: "0644" # File permissions

- name: Apply ArgoCD ingress
  shell: |
    kubectl apply -f /tmp/argocd-ingress.yml -n argocd

- name: Copy example-app
  copy:
    src: example-app.yml
    dest: /tmp/example-app.yml
    owner: root # Change owner if needed
    group: root # Change group if needed
    mode: "0644" # File permissions

- name: Apply ArgoCD example app
  shell: |
    kubectl apply -f /tmp/example-app.yml -n argocd

- name: Copy postgres-app
  copy:
    src: postgres-app.yml
    dest: /tmp/postgres-app.yml
    owner: root
    group: root
    mode: "0644"

- name: Apply PostgreSQL database
  shell: |
    kubectl apply -f /tmp/postgres-app.yml -n argocd

- name: Copy mysql-storage
  copy:
    src: mysql-storage.yml
    dest: /tmp/mysql-storage.yml
    owner: root
    group: root
    mode: "0644"

- name: Apply MySQL storage
  shell: |
    kubectl apply -f /tmp/mysql-storage.yml

- name: Copy mysql-pvc
  copy:
    src: mysql-pvc.yml
    dest: /tmp/mysql-pvc.yml
    owner: root
    group: root
    mode: "0644"

- name: Apply MySQL PVC
  shell: |
    kubectl apply -f /tmp/mysql-pvc.yml

- name: Wait for argocd-server to be ready
  shell: kubectl wait pod --all --for=condition=Ready --namespace=argocd --timeout=600s

- name: Save argocd admin password
  shell: kubectl -n argocd get secret argocd-initial-admin-secret -o jsonpath="{.data.password}" | base64 -d
  register: argocd_admin_password

- name: Output argocd admin password
  debug:
    msg: "{{ argocd_admin_password.stdout }}"

- name: Copy mysql-app
  copy:
    src: mysql-app.yml
    dest: /tmp/mysql-app.yml
    owner: root
    group: root
    mode: "0644"

- name: Apply MySQL app
  shell: |
    kubectl apply -f /tmp/mysql-app.yml -n argocd
